<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add
      name="OneStepIntoTheCloudRepository"
      connectionString="Server=.;Database=OneStepIntoTheCloud;Trusted_Connection=true;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="JoarOyen.OneStepIntoTheCloud.ServiceHost.MovieService">
        <endpoint
          address="" 
          binding="basicHttpBinding" 
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
        <endpoint
          address="https://YOUR_NAMESPACE.servicebus.windows.net/OneStepIntotheCloud.MovieService/"
          binding="basicHttpRelayBinding"
          behaviorConfiguration="MovieServiceRelay"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
        <endpoint
          address="sb://YOUR_NAMESPACE.servicebus.windows.net/OneStepIntotheCloud.MovieServiceHybrid/"
          binding="netTcpRelayBinding"
          behaviorConfiguration="MovieServiceRelay"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
        <endpoint
          address="https://YOUR_NAMESPACE.servicebus.windows.net/OneStepIntotheCloud.MovieServiceRest/"
          binding="webHttpRelayBinding"
          behaviorConfiguration="MovieServiceRelayRest"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
      </service>
    </services>
    <bindings>
      <netTcpRelayBinding>
        <binding connectionMode="Hybrid">
          <security mode="None" />
        </binding>
      </netTcpRelayBinding>
      <webHttpRelayBinding>
        <binding>
          <security relayClientAuthenticationType="None" />
        </binding>
      </webHttpRelayBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MovieServiceRelay">
          <serviceRegistrySettings discoveryMode="Public" displayName="Movie service" />
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="owner" issuerSecret="YOUR_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
        <behavior name="MovieServiceRelayRest">
          <serviceRegistrySettings discoveryMode="Public" displayName="Movie service REST" />
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="owner" issuerSecret="YOUR_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>  
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
