<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="MovieService"
          address="http://localhost/OneStepIntoTheCloud/MovieService.svc"
          binding="basicHttpBinding"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
      <endpoint name="MovieServiceRelay"
          address="https://YOUR_NAMESPACE.servicebus.windows.net/OneStepIntotheCloud.MovieService/"
          binding="basicHttpRelayBinding"
          behaviorConfiguration="MovieServiceRelay"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
      <endpoint name="MovieServiceRelayHybrid"
          address="sb://YOUR_NAMESPACE.servicebus.windows.net/OneStepIntotheCloud.MovieServiceHybrid/"
          binding="netTcpRelayBinding"
          behaviorConfiguration="MovieServiceRelay"
          contract="JoarOyen.OneStepIntoTheCloud.Core.Service.MovieService.IMovieService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize = "1000000" sendTimeout="00:00:10" />
      </basicHttpBinding>
      <basicHttpRelayBinding>
        <binding maxReceivedMessageSize = "1000000" sendTimeout="00:00:10" />
      </basicHttpRelayBinding>
      <netTcpRelayBinding>
        <binding maxReceivedMessageSize = "1000000" sendTimeout="00:00:10" connectionMode="Hybrid">
          <security mode="None" />
        </binding>
      </netTcpRelayBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MovieServiceRelay">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret issuerName="owner" issuerSecret="YOUR_SECRET" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100" maxSizeOfMessageToLog="1000000"/>
    </diagnostics>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel" switchValue="Information,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>-->
    </sources>
    <sharedListeners>
      <add name="traceListener" 
         initializeData="c:\temp\JoarOyen.OneStepIntotheCloud.SmartClient.svclog" type="System.Diagnostics.XmlWriterTraceListener" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
